.articleOverview {
    display: flex;
    gap: 8px;
    align-items: center;
    border: 2px solid black;
    border-radius: 3px;
}

.article-overview-image{
    height: 100px;
    width: 80px;
    object-fit: cover;
    object-position: center;
}