// @import '../../App.scss';

.NavigationContainer {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    // border-bottom:solid $accent-light 3px;
    // background-color: $primary-light;
}