// Defining color pallette
$primary-dark: #003049;
$primary-light: #669BBC;
$base: #FDF0D5;
$accent-dark: #780000;
$accent-light: #C1121f;

* {
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}