@use './_variables.scss' as vars;

//-------------------------------------------------------------------------------------------------
// Reset
//-------------------------------------------------------------------------------------------------

a {
    all: unset;
    display: inline;
    cursor: pointer;
}

//-------------------------------------------------------------------------------------------------
// Base Styles
//-------------------------------------------------------------------------------------------------

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: vars.$primary-dark
}

