// Defining color pallette
$primary-dark  : #003049 !default;
$primary-light : #669BBC !default;
$base          : #FDF0D5 !default;
$accent-dark   : #780000 !default;
$accent-light  : #C1121f !default;