//-----------------------------------------------
// Hamburger Icon Styles
//-----------------------------------------------
#hamburger-icon {
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.hamburger-line {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.active #line1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.active #line2 {
    opacity: 0;
}

/* Rotate last bar */
.active #line3 {
    transform: translate(0, -11px) rotate(45deg);
}

//-----------------------------------------------
// Navigation Menu Styles
//-----------------------------------------------
#MobileNav {
    position: fixed;
    inset: 0;

    height: 90vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid black 1px;

    // figure out why ul has 40 padding on left
    #nav-ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 85%;
        font-size: 2rem;

        gap: 16px;
        
        // Undoing a preset for ul.
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #333;
        text-align: center;
    }
}

// When nav is active move it to be seen.
#MobileNav.active {
    transform: translateX(0);
}